polyapi
main
polyapi_darwin_arm64
polyapi_linux_amd64
polyapi_windows_amd64.exe
# ignore sqlite3 directory and database file. first time app runs, it is created
# need a placeholder file for the directory to be saved
/db/*
!/db/.gitkeep